In [1]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf
from pyspark.sql import functions as sqlf 
#col, lit, udf,sum,avg,max,min,mean,count, udf 
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType, DoubleType

In [2]:
spark = SparkSession.builder.appName('Stage - Ingest').getOrCreate()
conf = SparkConf().setAppName('Stage - Ingest')
sc = SparkContext.getOrCreate(conf=conf)

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/09/30 22:05:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [116]:
import json
import logging
from pandas import DataFrame
import os
import pendulum
from datetime import datetime

def get_subdirectories(path: str) -> list:
    """
    Function that searchs for sub-directories inside a directory 
    then returns a list of all the directories names.
    """
    if path.split('/')[7] in ['customer', 'transaction']:
        subdirectories = [f.path for f in os.scandir(path) if f.is_dir()]
        subdirectories = [x.split('/')[8] for x in subdirectories]
        csv_directories = [directory.split('_')[1] for directory in subdirectories]
        return csv_directories
    else:
        subdirectories = [f.path for f in os.scandir(path) if f.is_dir()]
        subdirectories = [x.split('/')[7] for x in subdirectories]
        return [datetime.strptime(directory, '%Y-%m-%d').date() for directory in subdirectories] 
        

def get_latest_folder(folders: list) -> str:
    """
    Returns the latest date from the list.
    """
    return str(max(folders))


def loadJsonData(json_path: str) -> DataFrame:
    """
    Function that returns a dataframe from a valid directory that contains jsonlines files.
    """
    latest = get_latest_folder(get_subdirectories(json_path))
    if os.path.exists(os.path.dirname(os.path.join(json_path, latest))):
        df = spark.read.json(os.path.join(json_path, latest))
        return df
    else:
        return logging.critical('Path to jsonl files doesn\'t exist')


def loadParquetData(parquet_path: str) -> DataFrame:
    """
    Function that returns a dataframe from a valid directory that contains parquet files.
    """
    latest = get_latest_folder(get_subdirectories(parquet_path))
    if os.path.exists(os.path.dirname(parquet_path)):
        df = spark.read.option('recursiveFileLookup', 'true').option('header', 'true').parquet(parquet_path)
        return df
    else:
        return logging.critical('Path to parquet file deosn\'t exist')


def loadCSVData(csv_path: str) -> DataFrame:
    """
    Function that returns a dataframe from a valid directory that contains csv files.
    """
    latest = get_latest_folder(get_subdirectories(csv_path))
    if os.path.exists(os.path.dirname(csv_path)):
        df = spark.read.option('recursiveFileLookup', 'true').option('header', 'true').csv(csv_path)
        return df
    else:
        return logging.critical('Path to csv file doesn\'t exist')

In [120]:
# Ingesting jsonlines data
df = loadJsonData(json_path='/Users/gonzo/Desktop/capstone_project/data_storage/json_storage/')
df = df.select('id', 'ts', 'customer_first_name', 'customer_last_name', 'amount', 'type')
df.show()

+---+-------------------+-------------------+------------------+----------+----+
| id|                 ts|customer_first_name|customer_last_name|    amount|type|
+---+-------------------+-------------------+------------------+----------+----+
|237|2022-09-30T21:58:34|             Thomas|            Booker|    $12.67|   1|
|501|2022-09-30T20:29:21|              Karen|            Vaughn|     $2.85|   0|
|886|2022-10-02T06:15:44|             Donald|             Mason|     $0.76|   0|
|215|2022-10-01T18:21:19|            Jessica|           Hammond|$99,832.19|   0|
|715|2022-09-30T13:42:05|              Brent|           Walters|$84,840.26|   0|
|149|2022-10-01T08:08:07|            Stephen|           Daniels|   $895.46|   1|
|411|2022-10-02T00:40:34|               Jeff|            Murphy|    $66.89|   1|
|618|2022-10-01T18:39:25|              Wyatt|            Glover|$61,080.48|   1|
|401|2022-10-01T03:00:26|            Anthony|            Murray|$77,473.81|   0|
|692|2022-10-01T01:24:53|              David|            Ramsey| $7,889.06|   1|
|133|2022-10-03T06:11:36|               John|          Gonzalez|   $104.70|   1|
|424|2022-10-03T05:49:44|            Whitney|        Richardson|$74,559.47|   1|
|394|2022-10-03T03:15:37|           Theodore|            Nguyen|     $7.14|   0|
|600|2022-10-01T00:22:49|            Matthew|            Garcia|   $511.17|   1|
|349|2022-10-01T08:31:51|             Leslie|           Sanchez|    $78.75|   1|
|637|2022-10-02T23:45:57|              Keith|            Thomas|    $73.01|   1|
|770|2022-10-02T08:48:26|           Samantha|            Robles|     $7.31|   0|
|  9|2022-10-01T08:10:29|          Stephanie|              Vega|   $561.87|   1|
|550|2022-10-01T05:12:14|              Tyler|           Walters|    $59.97|   1|
| 93|2022-10-02T04:28:58|               Beth|              Leon|$64,421.67|   1|
+---+-------------------+-------------------+------------------+----------+----+
only showing top 20 rows

In [121]:
# Ingesting parquet data
df2 = loadParquetData(parquet_path='/Users/gonzo/Desktop/capstone_project/data_storage/parquet_storage/')
df2.show()

+---+----------+---------+----------+-------------------+--------+
| Id|First_name|Last_name|    Amount|          timestamp|Store_id|
+---+----------+---------+----------+-------------------+--------+
| 82|     Larry|Fernandez|    $42.60|2022-10-01T12:51:42|       3|
|817|     Tonya|   Krause|$47,909.91|2022-09-30T18:31:50|      20|
|507|  Danielle|   Garcia|$45,244.89|2022-09-30T08:39:06|       7|
|620|     Kevin|    Ortiz| $3,677.43|2022-09-29T15:52:24|      17|
|818|     Chloe|    Brown|    $51.67|2022-09-29T19:58:04|       8|
|849|      Cory|    Price|   $595.48|2022-09-29T16:26:44|      11|
|369|     David|    Green|   $454.53|2022-09-29T21:35:23|      10|
|764|    Shelby|  Miranda|   $527.20|2022-09-29T14:27:13|       5|
|431|      Tina|   Chavez|$58,514.39|2022-09-30T18:19:56|      14|
|155|   Natalie|Zimmerman|$91,667.09|2022-10-01T08:03:20|       3|
|656|   Kristen| Mcdonald|    $90.58|2022-09-30T03:48:51|       2|
|590|   Michael| Hamilton|   $834.01|2022-10-01T07:57:12|       7|
|691|    Sylvia| Williams| $7,768.72|2022-10-01T14:19:13|      18|
|553|    Donald|  Stanley|    $53.78|2022-09-30T00:47:51|       8|
|585|    Joseph| Williams|    $52.94|2022-09-30T21:09:58|      18|
|545|      Juan| Thompson| $6,279.82|2022-10-01T18:51:52|       9|
|648|    Daniel| Williams|    $73.62|2022-09-30T18:47:19|       1|
|812|   Cynthia|     Hunt| $7,010.35|2022-09-30T00:14:57|      20|
|300|   Michael|   Butler|     $2.17|2022-09-29T13:55:57|       4|
|870|   Jessica|    Jones|    $20.06|2022-09-29T20:19:24|       5|
+---+----------+---------+----------+-------------------+--------+
only showing top 20 rows

In [117]:
# Ingesting RDBMS (PostgreSQL) data
df3 = loadCSVData(csv_path='/Users/gonzo/Desktop/capstone_project/data_storage/pgdata/customer/')
df3.show()

+---+-----------+---------+------------+-----------------+
| id| first_name|last_name|phone_number|          address|
+---+-----------+---------+------------+-----------------+
| 21|     Alicia|   Glover|  6521283839|         Allenton|
|239|   Jennifer|  Herrera|  1300415237|         Allenton|
|781|      Jared|    Dixon|  2104822627|New Marthaborough|
|886|     Donald|   Wagner|  1620409568|    Port Loriview|
| 20|       Ruth|    Fritz|  5322972176|    Michelleburgh|
|220|    Gregory|    Hanna|  6268379314|      Melissafurt|
|291|     Yvonne|    Miles|  1944254819|     Brownchester|
|113|    Vincent|    Green|  1241766638|         Clayview|
|319|    Valerie|   Harper|  1601056191|      Veronicaton|
|651|    Jeffrey|Hernandez|  5212825535|      Melissafurt|
|890|      Jason|  Bentley|  5644645140|         Allenton|
|372|      Kevin|    Parks|  0137713202|       Grahamstad|
|202|Christopher|  Acevedo|  0821339386|New Marthaborough|
|810|      Jason|     Pena|  6767859520|Port Benjaminfurt|
|867|       Ryan|     Soto|  2815526823|      Lake Karina|
| 17|       Ryan|    Jones|  9649801022|        Hicksview|
|456|      Kevin| Reynolds|  4590093339|      Veronicaton|
|862|   Michelle|   Bailey|  9029223493|New Marthaborough|
|383|Christopher| Ferguson|  7517371841|     Brownchester|
|716|     Jeanne|    Smith|  3556842726|        Erikville|
+---+-----------+---------+------------+-----------------+
only showing top 20 rows

In [118]:
# Ingesting RDBMS (PostgreSQL) data
df4 = loadCSVData(csv_path='/Users/gonzo/Desktop/capstone_project/data_storage/pgdata/transaction/')
df4.show()

+---+-----------+-------------------+----------+
| id|customer_id|     transaction_ts|    amount|
+---+-----------+-------------------+----------+
|329|        834|2022-10-03 07:04:41| $7,946.15|
|593|        511|2022-09-30 15:52:16|     $0.14|
|399|        106|2022-10-02 16:50:15|     $8.80|
|496|         15|2022-10-02 11:56:02|    $94.76|
| 17|        865|2022-10-03 06:36:50|   $834.31|
|677|        791|2022-10-01 21:54:38| $5,885.03|
|127|         53|2022-10-01 05:31:38| $9,117.86|
|629|        441|2022-10-02 17:50:04|   $379.96|
|142|        386|2022-10-03 04:25:02|     $3.95|
|752|        530|2022-10-02 21:02:32|$86,170.73|
|117|        123|2022-09-30 16:09:27|    $67.56|
|188|        134|2022-10-03 06:58:07|$33,515.66|
| 32|        779|2022-10-03 11:51:13|   $657.09|
|574|        326|2022-10-03 06:52:25|   $870.84|
|122|        313|2022-10-01 12:51:34|    $12.51|
|858|        597|2022-10-01 15:30:48|   $214.21|
|512|        401|2022-10-02 12:01:20|   $404.07|
|732|         70|2022-09-30 13:27:02|$50,338.54|
|  6|        240|2022-10-01 16:00:21|    $26.04|
|729|        610|2022-10-03 07:15:45|     $7.68|
+---+-----------+-------------------+----------+
only showing top 20 rows

In [139]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType
unified_model = spark.createDataFrame([],
                StructType(
                    [
                     StructField('type', IntegerType(), True),
                     StructField('id', IntegerType(), True),
                     StructField('store_id', IntegerType(), True),
                     StructField('customer_id', IntegerType(), True),
                     StructField('customer_firts_name', StringType(), True),
                     StructField('customer_last_name', StringType(), True),
                     StructField('phone_number', IntegerType(), True),
                     StructField('address', StringType(), True),
                     StructField('amount', FloatType(), True),
                     StructField('timestamp', StringType(), True)
                    ]
                ))

In [141]:
unified_model.show()

+----+---+--------+-----------+-------------------+------------------+------------+-------+------+---------+
|type| id|store_id|customer_id|customer_firts_name|customer_last_name|phone_number|address|amount|timestamp|
+----+---+--------+-----------+-------------------+------------------+------------+-------+------+---------+
+----+---+--------+-----------+-------------------+------------------+------------+-------+------+---------+