In [260]:
from pyspark.sql import SparkSession
from pyspark import SparkContext, SparkConf
from pyspark.sql import functions as sqlf 
#col, lit, udf,sum,avg,max,min,mean,count, udf 
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, FloatType, DoubleType, LongType

In [261]:
spark = SparkSession.builder.appName('Stage - Ingest').getOrCreate()
conf = SparkConf().setAppName('Stage - Ingest')
sc = SparkContext.getOrCreate(conf=conf)

In [262]:
import json
import logging
from pandas import DataFrame
import os
import pendulum
from datetime import datetime

def get_subdirectories(path: str) -> list:
    """
    Function that searchs for sub-directories inside a directory 
    then returns a list of all the directories names.
    """
    if path.split('/')[7] in ['customer', 'transaction']:
        subdirectories = [f.path for f in os.scandir(path) if f.is_dir()]
        subdirectories = [x.split('/')[8] for x in subdirectories]
        csv_directories = [directory.split('_')[1] for directory in subdirectories]
        return csv_directories
    else:
        subdirectories = [f.path for f in os.scandir(path) if f.is_dir()]
        subdirectories = [x.split('/')[7] for x in subdirectories]
        return [datetime.strptime(directory, '%Y-%m-%d').date() for directory in subdirectories] 
        

def get_latest_folder(folders: list) -> str:
    """
    Returns the latest date from the list.
    """
    try:
        return str(max(folders))
    except:
        return logging.critical('Couldn\'t find any sub-directory.')


def loadJsonData(json_path: str) -> DataFrame:
    """
    Function that returns a dataframe from a valid directory that contains jsonlines files.
    """
    latest = get_latest_folder(get_subdirectories(json_path))
    if os.path.exists(os.path.dirname(os.path.join(json_path, latest))):
        df = spark.read.json(os.path.join(json_path, latest))
        return df
    else:
        return logging.critical('Path to jsonl files doesn\'t exist')


def loadParquetData(parquet_path: str) -> DataFrame:
    """
    Function that returns a dataframe from a valid directory that contains parquet files.
    """
    latest = get_latest_folder(get_subdirectories(parquet_path))
    if os.path.exists(os.path.dirname(parquet_path)):
        df = spark.read.option('recursiveFileLookup', 'true').option('header', 'true').parquet(parquet_path)
        return df
    else:
        return logging.critical('Path to parquet file deosn\'t exist')


def loadCSVData(csv_path: str) -> DataFrame:
    """
    Function that returns a dataframe from a valid directory that contains csv files.
    """
    latest = get_latest_folder(get_subdirectories(csv_path))
    if os.path.exists(os.path.dirname(csv_path)):
        df = spark.read.option('recursiveFileLookup', 'true').option('header', 'true').csv(csv_path)
        return df
    else:
        return logging.critical('Path to csv file doesn\'t exist')

In [314]:
# Ingesting jsonlines data
df = loadJsonData(json_path='/Users/gonzo/Desktop/capstone_project/data_storage/json_storage/')
df = df.select('id', 'ts', 'customer_first_name', 'customer_last_name', 'amount', 'type')
# df.select(['id']).distinct().count()
df = df.repartition(2)
df.rdd.getNumPartitions()
# df.show()

2

In [315]:
# Ingesting parquet data
df2 = loadParquetData(parquet_path='/Users/gonzo/Desktop/capstone_project/data_storage/parquet_storage/')
df2 = df2.repartition(2)
df2.rdd.getNumPartitions()

2

In [316]:
# Ingesting RDBMS (PostgreSQL) data
df3 = loadCSVData(csv_path='/Users/gonzo/Desktop/capstone_project/data_storage/pgdata/customer/')
df3 = df3.repartition(2)
df3.rdd.getNumPartitions()

2

In [317]:
# Ingesting RDBMS (PostgreSQL) data
df4 = loadCSVData(csv_path='/Users/gonzo/Desktop/capstone_project/data_storage/pgdata/transaction/')
df4 = df4.repartition(2)
df4.rdd.getNumPartitions()

2

In [300]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- ts: string (nullable = true)
 |-- customer_first_name: string (nullable = true)
 |-- customer_last_name: string (nullable = true)
 |-- amount: string (nullable = true)
 |-- type: long (nullable = true)

In [301]:
df2.printSchema()

root
 |-- Id: long (nullable = true)
 |-- First_name: string (nullable = true)
 |-- Last_name: string (nullable = true)
 |-- Amount: string (nullable = true)
 |-- timestamp: string (nullable = true)
 |-- Store_id: long (nullable = true)

In [302]:
df3.printSchema()

root
 |-- id: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- address: string (nullable = true)

In [303]:
df4.printSchema()

root
 |-- id: string (nullable = true)
 |-- customer_id: string (nullable = true)
 |-- transaction_ts: string (nullable = true)
 |-- amount: string (nullable = true)

In [304]:
df2 = df2.withColumnRenamed('First_name', 'customer_first_name')
df2 = df2.withColumnRenamed('Last_name', 'customer_last_name')
df2 = df2.withColumnRenamed('Amount', 'amount')
df = df.withColumnRenamed('ts', 'timestamp')
df = df.withColumnRenamed('Store_id', 'store_id')
df2.show()

+---+-------------------+------------------+----------+-------------------+--------+
| Id|customer_first_name|customer_last_name|    amount|          timestamp|Store_id|
+---+-------------------+------------------+----------+-------------------+--------+
|256|              Blake|             Scott|     $3.48|2022-10-03T09:58:52|       4|
|283|             Andrew|           Russell|     $7.59|2022-10-02T07:21:14|      11|
|231|             Andrew|            Cooper|$11,380.13|2022-10-02T23:09:56|      10|
|799|           Kimberly|              Lara| $7,642.31|2022-10-03T07:26:19|      20|
|694|              Shane|             Allen|     $5.53|2022-10-04T07:26:22|       2|
|107|            Michael|          Thompson|    $11.94|2022-10-02T23:37:12|      17|
| 25|              Erika|             Green| $4,462.03|2022-10-03T15:37:49|       8|
|374|            Michael|             Clark|    $98.63|2022-10-02T12:34:23|      14|
|268|             Pamela|          Copeland|   $549.70|2022-10-02T08:26:43|       3|
|664|               John|             Lewis|    $87.56|2022-10-02T01:35:52|       8|
| 73|              Kevin|           Edwards| $5,917.84|2022-10-05T06:20:34|       4|
|441|               Tony|            Howard| $9,543.97|2022-10-02T19:36:09|       6|
|422|              Louis|           Schmidt|     $9.17|2022-10-04T21:58:40|      14|
|813|            Melissa|           Fleming| $5,565.08|2022-10-03T07:32:24|       9|
| 23|             Brandi|             Ortiz|    $24.07|2022-10-03T16:48:06|      18|
|272|             Howard|        Fitzgerald| $8,276.20|2022-10-04T10:20:24|       5|
|608|               Jill|            Kramer|   $333.27|2022-10-05T00:56:59|      12|
|336|        Christopher|              Diaz|   $154.87|2022-10-03T17:10:28|       5|
|656|              Scott|            Torres|     $2.87|2022-10-03T11:26:34|       1|
|809|             Trevor|             Cross|    $66.91|2022-10-04T15:11:53|      12|
+---+-------------------+------------------+----------+-------------------+--------+
only showing top 20 rows

In [305]:
# Parquet & Json
json_parquetDF = df.join(df2, ['id', 'customer_first_name', 'customer_last_name', 'timestamp', 'amount'], "fullouter")
json_parquetDF = json_parquetDF.select('id', 'type', 'store_id', 'amount', 'customer_first_name', 'customer_last_name', 'timestamp')
json_parquetDF.show()

+---+----+--------+----------+-------------------+------------------+-------------------+
| id|type|store_id|    amount|customer_first_name|customer_last_name|          timestamp|
+---+----+--------+----------+-------------------+------------------+-------------------+
|  2|   1|    null|     $4.18|             Brenda|           Sanchez|2022-10-02T19:27:13|
|  4|   0|    null|$23,199.16|               Dawn|              Hill|2022-10-03T02:55:52|
|  6|   0|    null|$84,143.57|            Jeffrey|          Gonzales|2022-10-04T01:20:01|
|  7|null|      17|   $711.35|             Thomas|            Oliver|2022-10-05T10:52:27|
| 10|null|      20|    $67.40|            William|             Reyes|2022-10-04T10:15:45|
| 11|null|       2| $4,516.14|             Jeremy|             Moody|2022-10-03T13:18:38|
| 19|null|      11|     $2.12|             Dustin|           Hancock|2022-10-03T16:55:46|
| 19|   0|    null|     $7.75|              Sarah|             Craig|2022-10-04T19:55:02|
| 23|null|      18|    $24.07|             Brandi|             Ortiz|2022-10-03T16:48:06|
| 25|null|       8| $4,462.03|              Erika|             Green|2022-10-03T15:37:49|
| 28|null|      13|    $73.06|            Anthony|            Harper|2022-10-03T14:18:29|
| 40|null|      18|     $1.88|             Hayley|            Herman|2022-10-03T07:06:27|
| 41|null|      10| $2,210.49|             Meghan|             Davis|2022-10-02T16:42:22|
| 45|null|      17|   $654.54|             Joshua|           Johnson|2022-10-02T15:59:26|
| 46|   0|    null|   $574.71|              Sarah|             Jones|2022-10-04T10:59:18|
| 47|   0|    null|   $483.24|              Peter|              Mack|2022-10-04T18:57:20|
| 48|null|      11|     $3.93|              Louis|             Boyer|2022-10-01T23:27:45|
| 57|null|       9| $9,925.79|            Matthew|             Scott|2022-10-04T03:25:29|
| 65|   1|    null|   $706.25|           Kathleen|             Smith|2022-10-04T03:05:55|
| 65|null|       5| $6,976.82|             Steven|           Vincent|2022-10-02T13:27:20|
+---+----+--------+----------+-------------------+------------------+-------------------+
only showing top 20 rows

In [306]:
# Both dataframes from postgresql
postgresqlDF = df3.join(df4, ['id'], "fullouter")
postgresqlDF = postgresqlDF.select('id', 'customer_id', 'amount', 'first_name', 'last_name', 'phone_number', 'address', 'transaction_ts')
postgresqlDF.show(100)

+---+-----------+----------+-----------+----------+------------+-----------------+-------------------+
| id|customer_id|    amount| first_name| last_name|phone_number|          address|     transaction_ts|
+---+-----------+----------+-----------+----------+------------+-----------------+-------------------+
| 12|        705|    $37.96|   Patricia|  Williams|  1624390971|Port Benjaminfurt|2022-10-03 02:41:43|
|129|        837|    $27.51|    Tiffany|   Farrell|  0174130827|New Marthaborough|2022-10-03 10:40:03|
| 17|        530|$65,981.69|  Stephanie|    Chavez|  9952997214|    Michelleburgh|2022-10-02 15:00:14|
|170|        689| $4,249.06|     Arthur|    Hester|  9696686678|     West Nichole|2022-10-03 08:34:01|
| 18|        363|   $654.36|     Denise|  Anderson|  5718166161|      Melissafurt|2022-10-03 12:56:18|
|199|        666|$12,611.06|       Lynn|   Swanson|  1308999765|        Erikville|2022-10-03 20:20:26|
|218|        329|   $381.18|   Kimberly|     Baker|  5596293609|         Clayview|2022-10-04 16:49:12|
|219|        308|     $8.29|     Justin|    Waters|  2556250708|     Brownchester|2022-10-04 20:44:06|
|222|          2|   $382.70|      Jesse|  Williams|  2446792417|     Brownchester|2022-10-02 18:46:05|
|226|        310|   $107.21|     Edward|  Galloway|  9966544188|      Melissafurt|2022-10-03 14:23:16|
|230|        135|$56,969.13|     Rodney|    Hansen|  8320254682|     West Nichole|2022-10-04 02:20:57|
|237|        362| $6,350.88|   Mckenzie|      Dean|  0832472650|        Smithberg|2022-10-03 22:50:00|
|240|        571|   $125.38|   Victoria|   Hendrix|  6381835167|      Lake Karina|2022-10-04 08:19:08|
|242|        170| $8,151.78|   Kimberly|   Cameron|  6044982568|         Clayview|2022-10-02 14:11:59|
|249|        796|$23,476.67|    Tiffany|  Garrison|  2366958709|      Melissafurt|2022-10-03 19:17:45|
|276|         99|$13,469.52|  Christine|   Jenkins|  8127765681|Port Benjaminfurt|2022-10-04 20:39:11|
|280|        509|$30,407.53|      Haley|   Hawkins|  8642515731|      Melissafurt|2022-10-03 11:34:32|
|285|        607|     $6.33|       Adam| Armstrong|  7507613719|        Erikville|2022-10-04 03:13:54|
|288|        756| $2,626.56|      Megan|     Weber|  6331206019|  Lake Jamesville|2022-10-04 00:58:10|
|299|        387| $3,098.35|      Peter|    Fisher|  4775028457|Port Benjaminfurt|2022-10-04 04:36:48|
|308|        295|     $9.41|  Alexander|    Clarke|  1182263360|     Edwardsburgh|2022-10-03 19:56:15|
|315|        753|$55,575.70| Jacqueline|   Bennett|  5372596139|     West Nichole|2022-10-03 09:12:15|
|325|        851|    $71.47|    Zachary|     Perez|  8603441510|       Grahamstad|2022-10-04 18:12:23|
| 33|        191| $2,917.29|       John|     Burns|  8671875822|Port Benjaminfurt|2022-10-03 05:58:39|
|337|        286| $8,535.49|    Felicia|     Jones|  1839349418|         Lanefurt|2022-10-04 07:12:48|
|341|        442|   $188.14|       Carl|  Stephens|  3822009809|      Lake Karina|2022-10-03 22:45:02|
|343|        893|     $9.29|      Susan|     Jones|  6629756527|     West Nichole|2022-10-05 08:36:28|
|358|        656|     $6.60|       Adam|    Benson|  5025744946|        Smithberg|2022-10-02 23:59:20|
|379|        229|$49,262.72|       Eric|   Stanley|  5302630562|       Robertland|2022-10-02 19:10:03|
|383|        389|    $82.44|      Donna|    Rivera|  1444524704|    Michelleburgh|2022-10-04 22:50:10|
|398|        678|     $0.67|     Samuel|     Lewis|  0638466687|        Smithberg|2022-10-04 10:25:06|
| 41|        840|    $81.96|   Veronica|  Williams|  4852270998|         Lanefurt|2022-10-02 19:11:14|
|414|         52|    $50.11|      David|      Barr|  2388757413|      Veronicaton|2022-10-04 16:07:52|
|419|        541|   $757.13|Christopher|    Murray|  9982797324|         Lanefurt|2022-10-03 06:07:04|
|424|        891|   $734.20|     Robert|   Brennan|  5366474143|     West Nichole|2022-10-03 12:45:04|
| 43|        405|    $91.78|    Zachary|    Ramsey|  6457314142|        Hicksview|2022-10-05 05:53:04|
|444|        361|     $8.35|     Amanda|    Nelson|  6123614837|    Michelleburgh|2022-10-02 16:33:55|
|445|        813| $7,341.87|       Mary|    Fields|  2820740098|       Robertland|2022-10-04 19:23:19|
|447|        383|$41,071.09|   Reginald| Mcconnell|  2222850799|      Lake Karina|2022-10-04 21:50:34|
|459|        358|   $709.30|       Leah|      Ward|  2449557321|      Lake Karina|2022-10-03 02:52:32|
|460|         52| $1,517.44|     Steven|     James|  6944540810|        Hicksview|2022-10-03 03:00:21|
|482|        106| $7,042.53|      Carol| Rodriguez|  9808399017|      Veronicaton|2022-10-03 03:48:50|
|500|        873|$10,513.60|     Tamara|     Smith|  0923886379|      Veronicaton|2022-10-03 11:52:49|
|508|         64| $9,997.73|      Kevin|      Ward|  3866130003|         Allenton|2022-10-05 04:13:04|
|524|        601|     $4.16|     Robert|   Bullock|  6224540673|         Clayview|2022-10-03 12:21:37|
|526|         35|     $1.21|       Jose|     Perry|  0189161517|        Smithberg|2022-10-04 16:10:51|
|528|        881|   $207.13|   Cristian|    Romero|  5197726562|       Averymouth|2022-10-05 00:11:31|
|534|         53| $2,796.26|    Bradley|      Cook|  7111430381|       Averymouth|2022-10-02 15:00:16|
|539|        480|$52,058.45|     Ashley|  Williams|  2481339010|       Grahamstad|2022-10-02 16:23:42|
| 54|        423|    $79.18|    Michael|   Johnson|  8947261122|    Port Loriview|2022-10-03 00:17:35|
|544|        594|$65,182.95|    Melissa|  Thompson|  5220792018|Port Benjaminfurt|2022-10-02 14:20:34|
|550|        537|     $5.56|    Christy|   Webster|  1708396924|Port Benjaminfurt|2022-10-05 10:47:53|
|555|        268|$48,620.80|       Dawn|    Butler|  0389827908|     Brownchester|2022-10-05 05:34:39|
|556|        808|     $6.85|      Kelly|     Smith|  3880545614|        Smithberg|2022-10-04 11:57:27|
|559|         89|$20,344.56|    Douglas|  Phillips|  0812632263|         Lanefurt|2022-10-04 15:47:47|
| 58|        462|   $115.29|       Ryan|    Garcia|  3285654271|         Lanefurt|2022-10-02 20:56:17|
| 59|        671| $7,849.37|     Jordan|    Fisher|  6219321808|         Allenton|2022-10-04 01:40:54|
|593|        846| $8,504.85|      David|  Thompson|  6354258810|       Averymouth|2022-10-04 16:19:48|
|598|        396|$72,402.01|    Michael|     Ortiz|  7164476916|Port Benjaminfurt|2022-10-03 12:02:48|
|609|        759|    $41.25|    Cynthia| Hernandez|  1825888381|       Robertland|2022-10-03 22:08:51|
|611|        196|   $583.06|       Joel|    Murray|  0407299545|  Lake Jamesville|2022-10-05 07:19:21|
|613|        288|   $988.37|      Amber|     Baker|  1010874540|     West Nichole|2022-10-03 21:42:16|
|617|        331|    $11.43|      Tammy|     Huang|  0871774292|     Brownchester|2022-10-04 06:41:17|
|623|        641|     $6.13|       Adam|     Mejia|  5345726733|        Erikville|2022-10-03 15:05:04|
|626|        680|$20,339.45|      Jamie|     Smith|  3296690045|      Veronicaton|2022-10-03 09:06:42|
|628|        709|$18,344.42|    Brandon|     Logan|  4074657274|      Lake Karina|2022-10-03 07:12:31|
|633|        691|    $82.76|    Rebecca|     White|  8816293027|         Clayview|2022-10-03 14:36:35|
|634|        753| $8,806.84|     Sharon|    Garcia|  2640279537|Port Benjaminfurt|2022-10-05 11:36:34|
|658|        110|   $186.95|      Kevin|     Scott|  3209615463|       Averymouth|2022-10-02 13:43:54|
|666|        617|   $115.50|       Kara|    Wagner|  1169674575|        Erikville|2022-10-05 08:56:02|
|668|        876|     $0.63|     Angela|    Becker|  0645754275|       Grahamstad|2022-10-03 05:48:02|
|671|        753|   $566.06|    Jessica|     Scott|  4499703128|        Smithberg|2022-10-05 11:43:50|
|678|        740|$99,439.55|       John|     Davis|  5598504008|      Lake Karina|2022-10-04 14:40:36|
|679|        423|$22,232.93|      Julie|   Gilmore|  2993695570|      Melissafurt|2022-10-04 20:55:32|
|688|        488|$35,858.27|    William| Rasmussen|  7734863626|New Marthaborough|2022-10-05 04:40:34|
|691|        519|   $417.90|      Jason| Rodriguez|  3327301660|     Brownchester|2022-10-03 21:06:23|
|694|        221|   $613.15|      Megan|     Smith|  7740943003|     Edwardsburgh|2022-10-05 05:45:14|
|701|        408|$27,460.40|       Todd|    Golden|  4316158441|    Port Loriview|2022-10-05 12:18:57|
|705|         87|    $61.52|      Scott|   Vazquez|  7187411263|      Melissafurt|2022-10-03 11:58:10|
|734|        291|$53,224.48|     Nicole|   Carroll|  0736462580|    Michelleburgh|2022-10-04 22:42:00|
|741|        576| $8,222.15|    Matthew|   Johnson|  0861318748|        Erikville|2022-10-02 12:58:01|
|756|        125|$72,918.43|    Heather|Montgomery|  7380781141|Port Benjaminfurt|2022-10-05 06:41:24|
|761|        652|   $425.28|Christopher|   Stevens|  9911692402|New Marthaborough|2022-10-04 20:20:26|
|778|         39| $8,278.52|    Cynthia|   Johnson|  3253956605|      Veronicaton|2022-10-03 15:09:37|
|781|        848|    $20.63|      Jason|   Jenkins|  3604057231|        Erikville|2022-10-05 11:22:41|
|788|        736|$19,425.80|     Marcus|   Everett|  7822771630|       Robertland|2022-10-03 13:06:28|
|803|        211|   $414.29|       Mary|   Mcmahon|  8765744533|     Brownchester|2022-10-05 05:16:16|
|816|        683| $8,078.37|      Julie|    Dorsey|  6583481878|       Averymouth|2022-10-04 22:16:42|
|826|        228| $3,486.91|      Tammy|     Simon|  9490955624|        Erikville|2022-10-03 06:28:18|
| 83|         13| $4,171.11|    Gregory|  Mcmillan|  6535423571|         Clayview|2022-10-05 00:28:50|
|830|        210|    $73.33|      Diane|     Henry|  2108985424|    Port Loriview|2022-10-04 15:19:42|
|836|        316|$59,665.01|    Bethany|     Brock|  5737632002|        Smithberg|2022-10-03 01:38:03|
|849|        305| $2,595.04|    Yolanda|    Hanson|  2292817824|        Hicksview|2022-10-03 00:04:06|
|851|        409|    $41.00|Christopher|    Harvey|  8820598051|       Averymouth|2022-10-04 12:17:51|
|854|        404|    $22.96|   Brittany|     Allen|  5632846459|         Allenton|2022-10-04 08:57:35|
|866|        371| $3,146.52|      Debra|   Ramirez|  6760142880|         Clayview|2022-10-04 05:43:48|
|875|        680|    $79.78|     Manuel|     Owens|  4537434977|      Lake Karina|2022-10-04 21:20:57|
|881|        367|   $375.75|     Tamara|  Gonzales|  5134088885|      Veronicaton|2022-10-05 07:22:57|
|890|        472|     $9.38|      Jared|Fitzgerald|  7449373848|      Veronicaton|2022-10-04 00:11:07|
|893|        699|   $216.84|     Dustin|      Luna|  2815708255|     Brownchester|2022-10-03 17:58:18|
+---+-----------+----------+-----------+----------+------------+-----------------+-------------------+

In [307]:
json_parquetDF.printSchema()

root
 |-- id: long (nullable = true)
 |-- type: long (nullable = true)
 |-- store_id: long (nullable = true)
 |-- amount: string (nullable = true)
 |-- customer_first_name: string (nullable = true)
 |-- customer_last_name: string (nullable = true)
 |-- timestamp: string (nullable = true)

In [308]:
postgresqlDF = postgresqlDF.withColumnRenamed('first_name', 'customer_first_name')
postgresqlDF = postgresqlDF.withColumnRenamed('last_name', 'customer_last_name')
postgresqlDF = postgresqlDF.withColumnRenamed('transaction_ts', 'timestamp')
"""
Change id str -> long
customer_id str -> long
"""
postgresqlDF = postgresqlDF.withColumn('id', postgresqlDF['id'].cast(LongType()))
postgresqlDF = postgresqlDF.withColumn('customer_id', postgresqlDF['id'].cast(LongType()))
postgresqlDF.printSchema()

root
 |-- id: long (nullable = true)
 |-- customer_id: long (nullable = true)
 |-- amount: string (nullable = true)
 |-- customer_first_name: string (nullable = true)
 |-- customer_last_name: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- address: string (nullable = true)
 |-- timestamp: string (nullable = true)

In [561]:
unified_model = json_parquetDF.join(postgresqlDF, ['id', 'amount', 'customer_first_name', 'customer_last_name', 'timestamp'], 'fullouter')
unified_model = unified_model.select('id', 'customer_id', 'store_id', 'type', 'amount', 'customer_first_name', 'customer_last_name', 'phone_number', 'address', 'timestamp')
# unified_model.show(300)

In [319]:

# unified_model.coalesce(1)
unified_model = unified_model.repartition(2)
unified_model.write.csv('/Users/gonzo/Desktop/capstone_project/data_storage/storage/test', header=True)

In [353]:
unified_model.printSchema()

root
 |-- id: long (nullable = true)
 |-- customer_id: long (nullable = true)
 |-- store_id: long (nullable = true)
 |-- type: long (nullable = true)
 |-- amount: string (nullable = true)
 |-- customer_first_name: string (nullable = true)
 |-- customer_last_name: string (nullable = true)
 |-- phone_number: string (nullable = true)
 |-- address: string (nullable = true)
 |-- timestamp: string (nullable = true)

In [562]:
unified_model.repartition(2).rdd.getNumPartitions()

2

In [563]:
"""
Transform amount str -> float
"""
def transform_amount(x) -> list:
    return float(x[1:].replace(',', ''))

transformUDF = sqlf.udf(lambda x : transform_amount(x), FloatType())
test_df = unified_model.withColumn('float_amount', transformUDF(unified_model.amount))
unified_model = test_df.select('id', 'customer_id', 'store_id', 'type', 'float_amount', 'customer_first_name', 'customer_last_name', 'phone_number', 'address', 'timestamp')
unified_model.show()

+---+-----------+--------+----+------------+-------------------+------------------+------------+-----------------+-------------------+
| id|customer_id|store_id|type|float_amount|customer_first_name|customer_last_name|phone_number|          address|          timestamp|
+---+-----------+--------+----+------------+-------------------+------------------+------------+-----------------+-------------------+
|  2|       null|    null|   1|        4.18|             Brenda|           Sanchez|        null|             null|2022-10-02T19:27:13|
|  4|       null|    null|   0|    23199.16|               Dawn|              Hill|        null|             null|2022-10-03T02:55:52|
|  6|       null|    null|   0|    84143.57|            Jeffrey|          Gonzales|        null|             null|2022-10-04T01:20:01|
|  7|       null|      17|null|      711.35|             Thomas|            Oliver|        null|             null|2022-10-05T10:52:27|
| 10|       null|      20|null|        67.4|            William|             Reyes|        null|             null|2022-10-04T10:15:45|
| 11|       null|       2|null|     4516.14|             Jeremy|             Moody|        null|             null|2022-10-03T13:18:38|
| 12|         12|    null|null|       37.96|           Patricia|          Williams|  1624390971|Port Benjaminfurt|2022-10-03 02:41:43|
| 17|         17|    null|null|    65981.69|          Stephanie|            Chavez|  9952997214|    Michelleburgh|2022-10-02 15:00:14|
| 18|         18|    null|null|      654.36|             Denise|          Anderson|  5718166161|      Melissafurt|2022-10-03 12:56:18|
| 19|       null|      11|null|        2.12|             Dustin|           Hancock|        null|             null|2022-10-03T16:55:46|
| 19|       null|    null|   0|        7.75|              Sarah|             Craig|        null|             null|2022-10-04T19:55:02|
| 23|       null|      18|null|       24.07|             Brandi|             Ortiz|        null|             null|2022-10-03T16:48:06|
| 25|       null|       8|null|     4462.03|              Erika|             Green|        null|             null|2022-10-03T15:37:49|
| 28|       null|      13|null|       73.06|            Anthony|            Harper|        null|             null|2022-10-03T14:18:29|
| 33|         33|    null|null|     2917.29|               John|             Burns|  8671875822|Port Benjaminfurt|2022-10-03 05:58:39|
| 40|       null|      18|null|        1.88|             Hayley|            Herman|        null|             null|2022-10-03T07:06:27|
| 41|       null|      10|null|     2210.49|             Meghan|             Davis|        null|             null|2022-10-02T16:42:22|
| 41|         41|    null|null|       81.96|           Veronica|          Williams|  4852270998|         Lanefurt|2022-10-02 19:11:14|
| 43|         43|    null|null|       91.78|            Zachary|            Ramsey|  6457314142|        Hicksview|2022-10-05 05:53:04|
| 45|       null|      17|null|      654.54|             Joshua|           Johnson|        null|             null|2022-10-02T15:59:26|
+---+-----------+--------+----+------------+-------------------+------------------+------------+-----------------+-------------------+
only showing top 20 rows

In [564]:
unified_model.count()

400

# Count and sum amount transactions for each type for day - online

In [391]:
online = unified_model.filter(unified_model.type == 1).groupBy(unified_model.type).agg(sqlf.sum('float_amount').alias('Total'), sqlf.count('*').alias('Total_transactions'))
online.show()

+----+-----------------+------------------+
|type|            Total|Total_transactions|
+----+-----------------+------------------+
|   1|507014.9718411267|                46|
+----+-----------------+------------------+

# Count and sum amount transactions for each type for day - offline

In [392]:
offline = unified_model.filter(unified_model.type == 0).groupBy(unified_model.type).agg(sqlf.sum('float_amount').alias('Total'), sqlf.count('*').alias('Total_transactions'))
offline.show()

+----+------------------+------------------+
|type|             Total|Total_transactions|
+----+------------------+------------------+
|   0|416384.93764860183|                54|
+----+------------------+------------------+

# Count and sum transaction for each store for day

In [393]:
stores_metrics = unified_model.groupBy(unified_model.store_id).agg(sqlf.count('*').alias('Number_Transactions'), sqlf.sum('float_amount').alias('Total_transactions'))
stores_metrics.show()

+--------+-------------------+------------------+
|store_id|Number_Transactions|Total_transactions|
+--------+-------------------+------------------+
|      19|                  7|159202.05113983154|
|       7|                  8| 17103.25972723961|
|    null|                200|2108326.1374286786|
|       6|                 13|178035.97977387905|
|       9|                 12|127308.06613391638|
|      17|                 11| 92913.98154425621|
|       5|                  8|  203422.657913208|
|       1|                 12| 274127.8973016739|
|      10|                 11|133775.20075827837|
|       3|                  7|155361.42032670975|
|      12|                 11|182003.42019462585|
|       8|                 14|324316.81068754196|
|      11|                 11|192654.62814463675|
|       2|                  9| 83981.44904321432|
|       4|                  8| 58352.48837661743|
|      13|                  5|10794.219762563705|
|      18|                 10| 9224.699713587761|
|      14|                 15|120518.09949111938|
|      15|                  8| 16448.02958369255|
|      20|                 12|197631.50071525574|
+--------+-------------------+------------------+
only showing top 20 rows

# Count and sum amount transactions for each city for day

In [397]:
cities_transactions = unified_model.groupBy('address').agg(sqlf.count('*').alias('Total'), sqlf.sum(unified_model.float_amount).alias('Transactions'))
cities_transactions.show()

+-----------------+-----+------------------+
|          address|Total|      Transactions|
+-----------------+-----+------------------+
|       Robertland|    4|  76071.6396484375|
|         Allenton|    3|17870.060585021973|
|             null|  300|3477939.7497224137|
|      Lake Karina|    7|159957.65662384033|
|     Edwardsburgh|    2| 622.5600242614746|
|         Lanefurt|    5|29834.430786132812|
|    Port Loriview|    3| 27612.91039276123|
|New Marthaborough|    3| 36311.05953025818|
|        Smithberg|    7|  66597.2815989852|
|      Veronicaton|    7| 46609.33814525604|
|    Michelleburgh|    4|119296.95797157288|
|        Hicksview|    3| 4204.259979248047|
|      Melissafurt|    6|  76940.2188911438|
|  Lake Jamesville|    2|3209.6200561523438|
|     Brownchester|    7| 50072.25079250336|
|Port Benjaminfurt|    9|  238838.906229496|
|        Erikville|    7| 24468.70987224579|
|     West Nichole|    6|118525.74819087982|
|       Averymouth|    6| 19814.55973815918|
|         Clayview|    6|15937.509662628174|
+-----------------+-----+------------------+
only showing top 20 rows

BACKFILLING ALL THE NULL VALUES FROM THE COLUMNS

In [558]:
from faker import Faker
import random

fake = Faker()

def backfillType(x) -> int:
    if x is None:
        return random.randint(0,1)
    else:
        return x    

def backfillStoreID(x) -> int:
    if x is None:
        return random.randint(1,20)
    else:
        return x

def backfillPhoneNumber(x) -> int:
    fake = Faker()
    if x is None:
        return fake.msisdn()[3:]
    else:
        return x

def backfillAddress(x) -> str:
    if x is None:
        return random.choice(['Allenton', 'Hicksview', 'Smithberg', 'Robertland', 'Veronicaton', 'Lake Jamesville', 'Port Benjaminfurt', 'Averymouth', 'Erikville', 'Port Loriview', 'Grahamstad', 'Edwardsburgh', 'New Marthaborough', 'Melissafurt', 'Lanefurt', 'Clayview', 'West Nichole', 'Brownchester', 'Lake Karina', 'Michelleburgh'])
    else:
        return x

def backfillCustomerID(x) -> int:
    if x is None:
        return random.randint(1, 900)
    else:
        return x

backfillType_udf = sqlf.udf(lambda x : backfillType(x), LongType())
backfillStoreId_udf = sqlf.udf(lambda x : backfillStoreID(x), IntegerType())
backfillPhoneNumber_udf = sqlf.udf(lambda x: backfillPhoneNumber(x), StringType())
backfillAddress_udf = sqlf.udf(lambda x: backfillAddress(x), StringType())
backfillCustomerID_udf = sqlf.udf(lambda x: backfillCustomerID(x), LongType())

backfilledDF = unified_model
backfilledDF.repartition(2)
backfilledDF = backfilledDF.withColumn('f_type', backfillType_udf(unified_model.type))
backfilledDF = backfilledDF.withColumn('f_store_id', backfillStoreId_udf(backfilledDF.store_id))
backfilledDF = backfilledDF.withColumn('f_phone_number', backfillPhoneNumber_udf(backfilledDF.phone_number))
backfilledDF = backfilledDF.withColumn('f_address', backfillAddress_udf(backfilledDF.address))
backfilledDF = backfilledDF.withColumn('f_customer_id', backfillCustomerID_udf(backfilledDF.customer_id))
backfilledDF = backfilledDF.select('id', 'f_customer_id', 'f_store_id', 'f_type', 'float_amount', 'customer_first_name', 'customer_last_name', 'f_phone_number', 'f_address', 'timestamp')
# backfilledDF.show()

+---+-------------+----------+------+------------+-------------------+------------------+--------------+-----------------+-------------------+
| id|f_customer_id|f_store_id|f_type|float_amount|customer_first_name|customer_last_name|f_phone_number|        f_address|          timestamp|
+---+-------------+----------+------+------------+-------------------+------------------+--------------+-----------------+-------------------+
|  2|          815|         6|     1|        4.18|             Brenda|           Sanchez|    7904112847|       Grahamstad|2022-10-02T19:27:13|
|  4|          791|        13|     0|    23199.16|               Dawn|              Hill|    8456415789|New Marthaborough|2022-10-03T02:55:52|
|  6|          147|        19|     0|    84143.57|            Jeffrey|          Gonzales|    5167666735|Port Benjaminfurt|2022-10-04T01:20:01|
|  7|          101|        17|     1|      711.35|             Thomas|            Oliver|    3303626529|Port Benjaminfurt|2022-10-05T10:52:27|
| 10|          137|        20|     1|        67.4|            William|             Reyes|    7888112224|      Veronicaton|2022-10-04T10:15:45|
| 11|           99|         2|     1|     4516.14|             Jeremy|             Moody|    6933102669|     Brownchester|2022-10-03T13:18:38|
| 12|           12|         5|     0|       37.96|           Patricia|          Williams|    1624390971|Port Benjaminfurt|2022-10-03 02:41:43|
| 17|           17|        19|     0|    65981.69|          Stephanie|            Chavez|    9952997214|    Michelleburgh|2022-10-02 15:00:14|
| 18|           18|        10|     1|      654.36|             Denise|          Anderson|    5718166161|      Melissafurt|2022-10-03 12:56:18|
| 19|          435|        11|     1|        2.12|             Dustin|           Hancock|    9337352167|       Robertland|2022-10-03T16:55:46|
| 19|          664|         9|     0|        7.75|              Sarah|             Craig|    3793263846|    Port Loriview|2022-10-04T19:55:02|
| 23|          722|        18|     1|       24.07|             Brandi|             Ortiz|    7289421397|     West Nichole|2022-10-03T16:48:06|
| 25|          585|         8|     1|     4462.03|              Erika|             Green|    3943498821|    Michelleburgh|2022-10-03T15:37:49|
| 28|           67|        13|     1|       73.06|            Anthony|            Harper|    1307088216|       Grahamstad|2022-10-03T14:18:29|
| 33|           33|        12|     1|     2917.29|               John|             Burns|    8671875822|Port Benjaminfurt|2022-10-03 05:58:39|
| 40|          744|        18|     1|        1.88|             Hayley|            Herman|    1450976110|Port Benjaminfurt|2022-10-03T07:06:27|
| 41|          370|        10|     1|     2210.49|             Meghan|             Davis|    7902123475|  Lake Jamesville|2022-10-02T16:42:22|
| 41|           41|        14|     0|       81.96|           Veronica|          Williams|    4852270998|         Lanefurt|2022-10-02 19:11:14|
| 43|           43|         6|     0|       91.78|            Zachary|            Ramsey|    6457314142|        Hicksview|2022-10-05 05:53:04|
| 45|          569|        17|     0|      654.54|             Joshua|           Johnson|    2750643843|  Lake Jamesville|2022-10-02T15:59:26|
+---+-------------+----------+------+------------+-------------------+------------------+--------------+-----------------+-------------------+
only showing top 20 rows